body {
    overflow: hidden;
}

.target-wrapper {
    display: none;
}

.target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 3vh;
}

.target-label-wrapper {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 28px;
}

.target-label {
    list-style: none;
    font-size: 1.3vh;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    align-self: center;
    padding-top: 2em;
}

.target-icon {
    color: rgb(30,144,255);
}
