.target-wrapper {
    display: none;
}

.target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 3vh;
}

.target-label-wrapper {
    position: absolute;
    right: 80vh;
    top: 52vh;
    margin-top: -13px;
    width: 11vh;
}

.target-label {
    list-style: none;
    font-size: 1.3vh;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
}

.target-icon {
    color: rgb(30,144,255);
}